.task-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 10px auto;
}

.tasks-wrapper{
    margin: 20px auto;
    max-width: 500px;
}

.task-item p{
    margin: 5px 0;
    font-size: 16px;
}

h1{
    text-align: center;
}

body{
    padding: 0;
    margin: 0;
    margin: 0 auto ;
}

.btn-element{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

h2{
    text-align: center;
}

.create-task{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 20px auto;
}

.btn-element-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 10px auto;
}

.create-task label {
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
    margin: 10px 0;
}

.create-task input[type="text"],
.create-task input[type="date"],
.create-task input[type="datetime-local"],
.create-task input[type="description"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.create-task select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.create-task textarea{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    height: 100px;
}
